{% extends "base.html" %} {% block content %} {% load static %}
<section class ="content">
    <div class="header">
    <img src="{% static 'img/twitter.png' %}" class="logo"/>
    <h1>Home</h1>
    </div><hr>
    <section class = 'posts_form'>
        <form  action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="posts_form-icon">
                <img class="user-icon" src= "{% static 'img/global.png' %}" />
            </div>
            <div class="post-form-input">
                <input type="text" name="name" class="name" placeholder="Name" required>
                <textarea name="body" placeholder="Tell us anything" requimaared></textarea><hr>
                <div class="file-tweet">
                    <input type="file" id="files" name="image"/>
                    <button class="tweet">Tweet</button>
                </div>
            </div>
        </form>
    </section>
    <section class ="posts">
        {% if tweet.count == 0 %}
        <p class="p-3"> There is no tweet now.</p>
        {% else %}
        <ul>
            {% for post in posts %}
            <li>
                <img class="menu_icon js-menu-icon"  src="{% static 'img/menu.png' %}"/>
                <div class="menu">
                    <a href="/delete/{{ post.id }}/">Delete</a> <br><hr>
                    <a href="/edit/{{ post.id }}/">Edit</a>
                </div>
                <div class="logo">
                    <img src="{% static 'img/global.png' %}" />
                </div>
                <div class="name_body">
                    <div class="name">{{ post.name }}</div>
                    <div class="datetime">{{ post.created_at }}</div>
                    <p>{{ post.body }}</p>
                    {% if post.image.url %}
                    <img src="{{post.image.url}}" alt="" class="post-img">
                    {% endif %}
                    <div class="like">
                        <a href="/like/{{post.id}}"><img class="image-likebtn" src="{% static 'img/heart.png' %}"/></a>
                        {{post.likes}}
                    </div>
                </div>    
            </li>
            {% endfor %}
        </ul>
       {% endif %}
    </section>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</section>

{% endblock %}